[package]
name = "telemetry"
version = "0.1.0"
edition = "2021"

[dependencies]
serde = { version = "1", features = ["derive"] }
serde-big-array = { version = "0.5" }
bincode = { version = "*" }
chrono = "0.4.39"