@import "@fontsource-variable/inter";
/* Supports weights 200-900 */
@import "@fontsource-variable/mona-sans/wdth.css";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-display;
	font-stretch: 125%;
}

body {
	@apply font-body;
}
